<div class="card py-5 px-3">
  <h1 class="mb-5">جستجوی فیلم</h1>
  <p class="mb-3">کافی است نام فیلم مورد نظر خود را در این قسمت وارد کنید:</p>

  <app-search-bar
    class="d-block mb-5"
    (searchQuery)="onSearchQueryChange($event)"
  ></app-search-bar>
  <app-search-result
    *ngIf="searchResults | async as results; else loading"
    [searchResults]="results"
    (scrolled)="onScroll()"
    (movieClicked)="onMovieClicked($event)"
    class="d-block"
  ></app-search-result>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center" *ngIf="loader.isLoading$ | async">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>
