<form class="row justify-content-center" [formGroup]="searchForm">
  <div class="col-12 col-md-8 col-lg-6">
    <input
      dir="ltr"
      type="text"
      [formControlName]="searchFormFields.MovieName"
      class="form-control"
      placeholder="نام فیلم"
    />
  </div>
  <div class="col-12 col-md-4 col-lg-2">
    <input
      dir="ltr"
      min="1900"
      [max]="currYear"
      type="number"
      [formControlName]="searchFormFields.ReleaseYear"
      class="form-control text-center"
      placeholder="سال ساخت"
    />
  </div>
</form>
