<div class="card py-5 px-3">
  <h1 class="mb-5">به داشبورد پارس‌فیلم خوش آمدید!</h1>
  <p class="mb-3">
    با استفاده از این سرویس، می‌توانید فیلم‌های مورد علاقه‌ی خود را جستجو کرده و
    اطلاعات زیادی را در مورد آنها کسب کنید. تفاوت اساسی این سرویس با IMDB در این
    است که این سرویس، هرگز به خوبی IMDB نخواهد بود.
  </p>
  <p>
    عدم شباهت ما به IMDB برگ برنده‌ی ماست. ما اعتقاد داریم که با استفاده از
    سرویس ما، کاربران فیلم‌های ناشناخته‌تری را پیدا می‌کنند.
  </p>
  <p>
    جهت استفاده از سرویس، کافی است به صفحه‌ی
    <a>جستجوی فیلم</a>
    رفته و فیلم مورد نظر خود را جستجو کنید!
  </p>
</div>
